---
import UIBottom from "@/components/buttons/UIBottom.astro";
import Card from "@/components/ui/Card.astro";
import Titles from "@/components/ui/Titles.astro";

const advices = [
  {
    icon: "✔",
    title: "Registra todos tus gastos.",
    description:
      "Llevar un registro detallado te ayuda a identificar fugas de dinero y ajustar tus hábitos.",
  },
  {
    icon: "✔",
    title: "Define metas de ahorro reales.",
    description:
      "Tener objetivos claros te motiva a ser constante y a planificar a largo plazo.",
  },
  {
    icon: "✔",
    title: "Revisa tus finanzas cada semana.",
    description:
      "Un seguimiento frecuente te permite corregir el rumbo a tiempo y evitar sorpresas.",
  },
  {
    icon: "✔",
    title: "Evita deudas innecesarias.",
    description:
      "Utiliza el crédito de forma responsable y solo para inversiones que generen valor.",
  },
  {
    icon: "✔",
    title: "Invierte en tu educación financiera.",
    description:
      "Aprender sobre finanzas es la mejor inversión: te dará herramientas para crecer personalmente y profesionalmente.",
  },
];
const famousQuotes = [
  {
    quote:
      "No ahorres lo que queda después de gastar, gasta lo que queda después de ahorrar.",
    author: "Warren Buffett",
    colors: "border-emerald-400 text-emerald-300",
  },
  {
    quote: "La disciplina financiera es la clave para crear riqueza.",
    author: "Robert Kiyosaki",
    colors: "border-blue-500 text-blue-400",
  },
];
---

<section>
  <div class="max-w-5xl mx-auto w-11/12 flex flex-col items-center gap-10">
    <Titles text="Consejos para tu Salud Financiera" subtitle />
    <p
      class="text-center text-light-paragraph text-balance dark:text-dark-paragraph"
    >
      Controlar nuestras finanzas personales es la base para lograr estabilidad,
      tranquilidad y libertad a largo plazo. Saber a dónde va tu dinero te
      permite tomar mejores decisiones, invertir en tu futuro y evitar
      preocupaciones innecesarias. <strong class="text-tertiary font-semibold"
        >¡Recuerda que cada peso cuenta!</strong
      >
    </p>

    <div class="">
      <Card inHome={true}>
        <ul class="space-y-6 w-full max-w-2xl">
          {
            advices.map((advice) => (
              <li class="flex items-start">
                <span class="text-2xl mr-4 text-tertiary dark:text-dark-primary">
                  {advice.icon}
                </span>
                <div>
                  <span class="font-semibold">{advice.title}</span>
                  <p class="text-light-paragraph dark:text-dark-paragraph">
                    {advice.description}
                  </p>
                </div>
              </li>
            ))
          }
        </ul>
      </Card>
    </div>

    <article class="space-y-6 mb-10">
      {
        famousQuotes.map(({ quote, author, colors }) => (
          <blockquote
            class:list={[
              "border-l-4 rounded-l-md pl-6 italic text-light-text dark:text-dark-text dark:font-light",
              colors,
            ]}
          >
            "{quote}"
            <br />
            <span class:list={["block font-semibold", colors]}>– {author}</span>
          </blockquote>
        ))
      }
    </article>

    <div class="flex flex-col items-center justify-center">
      <h3 class="text-2xl font-bold mb-4 text-center">
        ¿Listo para tomar el control de tus finanzas?
      </h3>
      <p class="text-light-paragraph dark:text-dark-paragraph mb-6 text-center">
        Empieza hoy mismo y da el primer paso hacia tu libertad financiera.
      </p>
      <UIBottom text="Iniciar sesión con Google" href="/login" big />
    </div>
  </div>
</section>
